<div>
  <p>LOGIN</p>
  <p>Western timetable allows users to search various courses that are offereed at Western university. Also, it allows authenticated users to create their own
  course lists.</p>
</div>

<div>
    <input [(ngModel)] = "email" type = "email" id="Email" placeholder="EMAIL">
</div>
<div>
    <input [(ngModel)] = "password" type = "password" id="password" placeholder="PASSWORD">
</div>
<div>
    <button (click) = "verify()">LOGIN</button>
</div>
<div id = 'status'>

</div>
<nav>
  <a routerLink="createUser">CREATE NEW ACCOUNT</a>
</nav>

<app-timtetable-Search></app-timtetable-Search>
