<p>
  SEARCH TIMETABLE
</p>
<button (click) = displaySubjects()>ALL COURSES</button>
<div>
  <input [(ngModel)] = "subject" type = "text" id="search" placeholder="SUBJECT">
</div>

<div>
  <input [(ngModel)] = "course" type = "text" id="course" placeholder="COURSE CODE">
  <button (click) = "searchCourseCode()">SUBMIT</button>
</div>

<div>
  <input [(ngModel)] = "component" type = "text" id="component" placeholder="COMPONENT">
  <button (click) = "searchComponent()">SUBMIT</button>
</div>

<div>
  <p>Search by Keyowrd</p>
  <input [(ngModel)] = "keyword" type = "text" id="keyword" placeholder="keyword">
  <button (click) = "keywordSearch()">Search</button>
</div>

<div id="Display">
  <p id = "subject"></p>
  <p id = "catalog_nbr"></p>
  <p id = "className"></p>
  <p id = "class_section"></p>
  <p id = "ssr_component"></p>
</div>
